@tailwind base;
@tailwind components;
@tailwind utilities;

.audiowide {
  font-family: "Audiowide", sans-serif;
}

.titillium-web {
  font-family: "Titillium Web", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
