@tailwind base;
@tailwind components;
@tailwind utilities;

.audiowide {
  font-family: "Audiowide", sans-serif;
}

.titillium-web {
  font-family: "Titillium Web", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  z-index: 9999;
  /* animation: fadeOut 1.6s ease-in; */
}

.image {
  width: 300px;
  animation: moveAndFade 1.6s ease-in forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveAndFade {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX(-40px);
    opacity: 1;
  }
  50% {
    transform: translateX(-40px);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(400px);
    opacity: 0;
  }
}
